# Compatibility superset.
# For deployment use requirements/runtime.txt or requirements/teleop.txt.
# This full requirements.txt contains training/debug dependencies.
mujoco
mink
loguru
pyyaml
scipy
torch
onnxruntime
pynput
ipdb
termcolor
sshkeyboard
pygame
pyzmq
joblib
huggingface-hub
